<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e422903e-b26a-4b06-987a-f9f178f34357/resourcegroups/WebApplication220200411112814ResourceGroup/providers/Microsoft.Web/sites/Bookstore20200411075010</ResourceId>
    <ResourceGroup>WebApplication220200411112814ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookstore20200411075010.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookstore20200411075010.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Bookstore20200411075010</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Bookstore20200411075010</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookstoreContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bookstore20200411075010dbserver.database.windows.net,1433;Initial Catalog=Bookstore20200411075010_db;User ID=jason_saar@bookstore20200411075010dbserver;Password=Swart911!" Name="Data Source=tcp:bookstore20200411075010dbserver.database.windows.net,1433;Initial Catalog=Bookstore20200411075010_db;User Id=jason_saar@bookstore20200411075010dbserver;Password=Swart911!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Bookstore.Models.BookstoreContext, Bookstore" MigrationConfiguration="Bookstore.Migrations.Configuration, Bookstore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookstoreContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookstore20200411075010dbserver.database.windows.net,1433;Initial Catalog=Bookstore20200411075010_db;User Id=jason_saar@bookstore20200411075010dbserver;Password=Swart911!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>